@media (max-width: 992px) {
  .sign-up {
    padding: 50px 15px;

    .sign-up__input {
      margin-bottom: 10px;
    }

    .sign-up__button {
      width: 336px;
      height: 58px;
    }
  }
}

@media(max-width: 756px) {
  .sign-up {
    .sign-up__button {
      padding: 0;
      width: 516px;
    }
  }
}