%bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

%content {
  h3 {
    font-size: 40px;
  }

  h4 {
    text-transform: uppercase;
    color: $button_colour;
    font-size: 16px;
  }

  span {
    color: $button_colour;
  }
}